ul,li{
    list-style: none;
}
.tabs{
    width: 100%;
    background-color: #ffffff;
}
.tabs ul{
    display: flex;
    width: 72vw;
    margin: 0 auto;
}
.tabs ul li{
    width: 24vw;
    height: 10.6vw;
    line-height: 10.6vw;
    text-align: center;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
}
.tabs ul li.active{
    color: #f33632;
    background: url("../../img/coupon/bg-bottom.png") no-repeat center bottom;
    background-size: 5.3vw;
}
.coupon-list{
    width: 92vw;
    height: 30.67vw;
    margin: 12px auto;
    background: url("../../img/coupon/bg2.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.choose-tag{
    position: absolute;
    top: 0;
    right: 0;
    width: 12vw;
}
.coupon-list>div{
    float: left;
}
.coupon_tit {
    width: 78.67vw;
    height: 30.67vw;
    color: #fff;
    padding-left: 30px;
}
.coupon_tit>p:nth-of-type(1) {
    font-size: 30px;
    padding-top: 5.4vw;
    padding-bottom: 2.7vw;
}
.coupon_tit p,.coupon_tit p span{
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}
.coupon-list.has-use{
    background: url("../../img/coupon/bg1.png") no-repeat;
    background-size: 100% 100%;
}
.coupon-list.out-time{
    background: url("../../img/coupon/bg3.png") no-repeat;
    background-size: 100% 100%;
}
.empty-tips{
    display: none;
    text-align: center;
    margin-top: 20vw;
}
.empty-tips.show{
    display: block;
}
.empty-tips img{
    width: 42.8vw;
}
.empty-tips p{
    margin-top: 4vw;
    font-size: 15px;
    color: #999999;
}
.add-more{
    width: 20vw;
    text-align: center;
    margin: 10px auto 20px auto;
}